.squadmaker-view__field.f1111 #formationPlayerspp0{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f1111 #formationPlayerspp3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f1111 #formationPlayerspp4{position: absolute; top: 55%;left:94%;}
.squadmaker-view__field.f1111 #formationPlayerspp5{position: absolute; top: 55%;left:6%;}
.squadmaker-view__field.f1111 #formationPlayerspp6{position: absolute; top: 33%;left:73%;}
.squadmaker-view__field.f1111 #formationPlayerspp7{position: absolute; top: 33%;left:27%;}
.squadmaker-view__field.f1111 #formationPlayerspp8{position: absolute; top: 38%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp9{position: absolute; top: 14%;left:88%;}
.squadmaker-view__field.f1111 #formationPlayerspp10{position: absolute; top: 14%;left:12%;}
.squadmaker-view__field.f1111 #formationPlayerspp11{position: absolute; top: 10%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp12{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp13{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f1111 #formationPlayerspp14{position: absolute; top: 55%;left:94%;}
.squadmaker-view__field.f1111 #formationPlayerspp15{position: absolute; top: 55%;left:6%;}
.squadmaker-view__field.f1111 #formationPlayerspp16{position: absolute; top: 33%;left:73%;}
.squadmaker-view__field.f1111 #formationPlayerspp17{position: absolute; top: 33%;left:27%;}
.squadmaker-view__field.f1111 #formationPlayerspp18{position: absolute; top: 38%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp19{position: absolute; top: 14%;left:88%;}
.squadmaker-view__field.f1111 #formationPlayerspp20{position: absolute; top: 14%;left:12%;}
.squadmaker-view__field.f1111 #formationPlayerspp21{position: absolute; top: 10%;left:50%;}
.squadmaker-view__field.f1111 #formationPlayerspp22{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f1111 #formationPlayerspp23{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f1111 #formationPlayerspp24{position: absolute; top: 55%;left:94%;}
.squadmaker-view__field.f1111 #formationPlayerspp25{position: absolute; top: 55%;left:6%;}
.squadmaker-view__field.f1111 #formationPlayerspp26{position: absolute; top: 33%;left:73%;}
.squadmaker-view__field.f1111 #formationPlayerspp27{position: absolute; top: 33%;left:27%;}
.squadmaker-view__field.f1111 #formationPlayerspp28{position: absolute; top: 38%;left:50%;}


















.squadmaker-view__field.f433 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f433 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f433 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f433 #formationPlayer4{position: absolute; top: 55%;left:94%;}
.squadmaker-view__field.f433 #formationPlayer5{position: absolute; top: 55%;left:6%;}
.squadmaker-view__field.f433 #formationPlayer6{position: absolute; top: 33%;left:73%;}
.squadmaker-view__field.f433 #formationPlayer7{position: absolute; top: 33%;left:27%;}
.squadmaker-view__field.f433 #formationPlayer8{position: absolute; top: 38%;left:50%;}
.squadmaker-view__field.f433 #formationPlayer9{position: absolute; top: 14%;left:88%;}
.squadmaker-view__field.f433 #formationPlayer10{position: absolute; top: 14%;left:12%;}
.squadmaker-view__field.f433 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f433_2 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f433_2 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f433_2 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f433_2 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f433_2 #formationPlayer5{position: absolute; top: 55%;left:11%;}
.squadmaker-view__field.f433_2 #formationPlayer6{position: absolute; top: 38%;left:71%;}
.squadmaker-view__field.f433_2 #formationPlayer7{position: absolute; top: 38%;left:29%;}
.squadmaker-view__field.f433_2 #formationPlayer8{position: absolute; top: 42%;left:50%;}
.squadmaker-view__field.f433_2 #formationPlayer9{position: absolute; top: 21%;left:70%;}
.squadmaker-view__field.f433_2 #formationPlayer10{position: absolute; top: 21%;left:30%;}
.squadmaker-view__field.f433_2 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f3412 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f3412 #formationPlayer2{position: absolute; top: 51%;left:50%;}
.squadmaker-view__field.f3412 #formationPlayer3{position: absolute; top: 56%;left:73%;}
.squadmaker-view__field.f3412 #formationPlayer4{position: absolute; top: 56%;left:26%;}
.squadmaker-view__field.f3412 #formationPlayer5{position: absolute; top: 34%;left:64%;}
.squadmaker-view__field.f3412 #formationPlayer6{position: absolute; top: 34%;left:37%;}
.squadmaker-view__field.f3412 #formationPlayer7{position: absolute; top: 31%;left:88%;}
.squadmaker-view__field.f3412 #formationPlayer8{position: absolute; top: 31%;left:12%;}
.squadmaker-view__field.f3412 #formationPlayer9{position: absolute; top: 21%;left:50%;}
.squadmaker-view__field.f3412 #formationPlayer10{position: absolute; top: 10%;left:60%;}
.squadmaker-view__field.f3412 #formationPlayer11{position: absolute; top: 10%;left:40%;}

.squadmaker-view__field.f442_2 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f442_2 #formationPlayer2{position: absolute; top: 58%;left:64%;}
.squadmaker-view__field.f442_2 #formationPlayer3{position: absolute; top: 58%;left:34%;}
.squadmaker-view__field.f442_2 #formationPlayer4{position: absolute; top: 55%;left:90%;}
.squadmaker-view__field.f442_2 #formationPlayer5{position: absolute; top: 55%;left:10%;}
.squadmaker-view__field.f442_2 #formationPlayer6{position: absolute; top: 33%;left:64%;}
.squadmaker-view__field.f442_2 #formationPlayer7{position: absolute; top: 33%;left:34%;}
.squadmaker-view__field.f442_2 #formationPlayer8{position: absolute; top: 30%;left:88%;}
.squadmaker-view__field.f442_2 #formationPlayer9{position: absolute; top: 30%;left:13%;}
.squadmaker-view__field.f442_2 #formationPlayer10{position: absolute; top: 10%;left:65%;}
.squadmaker-view__field.f442_2 #formationPlayer11{position: absolute; top: 10%;left:34%;}

.squadmaker-view__field.f4231 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4231 #formationPlayer2{position: absolute; top: 60%;left:68%;}
.squadmaker-view__field.f4231 #formationPlayer3{position: absolute; top: 60%;left:33%;}
.squadmaker-view__field.f4231 #formationPlayer4{position: absolute; top: 53%;left:95%;}
.squadmaker-view__field.f4231 #formationPlayer5{position: absolute; top: 53%;left:4%;}
.squadmaker-view__field.f4231 #formationPlayer6{position: absolute; top: 45%;left:68%;}
.squadmaker-view__field.f4231 #formationPlayer7{position: absolute; top: 45%;left:33%;}
.squadmaker-view__field.f4231 #formationPlayer8{position: absolute; top: 26%;left:50%;}
.squadmaker-view__field.f4231 #formationPlayer9{position: absolute; top: 20%;left:78%;}
.squadmaker-view__field.f4231 #formationPlayer10{position: absolute; top: 20%;left:22%;}
.squadmaker-view__field.f4231 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f442 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f442 #formationPlayer2{position: absolute; top: 58%;left:68%;}
.squadmaker-view__field.f442 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f442 #formationPlayer4{position: absolute; top: 55%;left:93%;}
.squadmaker-view__field.f442 #formationPlayer5{position: absolute; top: 55%;left:7%;}
.squadmaker-view__field.f442 #formationPlayer6{position: absolute; top: 37%;left:68%;}
.squadmaker-view__field.f442 #formationPlayer7{position: absolute; top: 37%;left:32%;}
.squadmaker-view__field.f442 #formationPlayer8{position: absolute; top: 36%;left:88%;}
.squadmaker-view__field.f442 #formationPlayer9{position: absolute; top: 36%;left:12%;}
.squadmaker-view__field.f442 #formationPlayer10{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f442 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f4123 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4123 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f4123 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f4123 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4123 #formationPlayer5{position: absolute; top: 55%;left:11%;}
.squadmaker-view__field.f4123 #formationPlayer6{position: absolute; top: 45%;left:50%;}
.squadmaker-view__field.f4123 #formationPlayer7{position: absolute; top: 33%;left:69%;}
.squadmaker-view__field.f4123 #formationPlayer8{position: absolute; top: 33%;left:32%;}
.squadmaker-view__field.f4123 #formationPlayer9{position: absolute; top: 18%;left:50%;}
.squadmaker-view__field.f4123 #formationPlayer10{position: absolute; top: 14%;left:88%;}
.squadmaker-view__field.f4123 #formationPlayer11{position: absolute; top: 14%;left:12%;}

.squadmaker-view__field.f4132 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4132 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f4132 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f4132 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4132 #formationPlayer5{position: absolute; top: 55%;left:11%;}
.squadmaker-view__field.f4132 #formationPlayer6{position: absolute; top: 50%;left:50%;}
.squadmaker-view__field.f4132 #formationPlayer7{position: absolute; top: 33%;left:50%;}
.squadmaker-view__field.f4132 #formationPlayer8{position: absolute; top: 33%;left:88%;}
.squadmaker-view__field.f4132 #formationPlayer9{position: absolute; top: 33%;left:12%;}
.squadmaker-view__field.f4132 #formationPlayer10{position: absolute; top: 10%;left:60%;}
.squadmaker-view__field.f4132 #formationPlayer11{position: absolute; top: 10%;left:40%;}

.squadmaker-view__field.f42211 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f42211 #formationPlayer2{position: absolute; top: 58%;left:68%;}
.squadmaker-view__field.f42211 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f42211 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f42211 #formationPlayer5{position: absolute; top: 55%;left:9%;}
.squadmaker-view__field.f42211 #formationPlayer6{position: absolute; top: 43%;left:68%;}
.squadmaker-view__field.f42211 #formationPlayer7{position: absolute; top: 43%;left:32%;}
.squadmaker-view__field.f42211 #formationPlayer8{position: absolute; top: 33%;left:88%;}
.squadmaker-view__field.f42211 #formationPlayer9{position: absolute; top: 33%;left:13%;}
.squadmaker-view__field.f42211 #formationPlayer10{position: absolute; top: 28%;left:50%;}
.squadmaker-view__field.f42211 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f424 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f424 #formationPlayer2{position: absolute; top: 58%;left:68%;}
.squadmaker-view__field.f424 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f424 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f424 #formationPlayer5{position: absolute; top: 55%;left:9%;}
.squadmaker-view__field.f424 #formationPlayer6{position: absolute; top: 32%;left:68%;}
.squadmaker-view__field.f424 #formationPlayer7{position: absolute; top: 32%;left:32%;}
.squadmaker-view__field.f424 #formationPlayer8{position: absolute; top: 23%;left:87%;}
.squadmaker-view__field.f424 #formationPlayer9{position: absolute; top: 23%;left:13%;}
.squadmaker-view__field.f424 #formationPlayer10{position: absolute; top: 10%;left:68%;}
.squadmaker-view__field.f424 #formationPlayer11{position: absolute; top: 10%;left:32%;}

.squadmaker-view__field.f4312 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4312 #formationPlayer2{position: absolute; top: 58%;left:68%;}
.squadmaker-view__field.f4312 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f4312 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4312 #formationPlayer5{position: absolute; top: 55%;left:9%;}
.squadmaker-view__field.f4312 #formationPlayer6{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f4312 #formationPlayer7{position: absolute; top: 34%;left:30%;}
.squadmaker-view__field.f4312 #formationPlayer8{position: absolute; top: 34%;left:70%;}
.squadmaker-view__field.f4312 #formationPlayer9{position: absolute; top: 40%;left:50%;}
.squadmaker-view__field.f4312 #formationPlayer10{position: absolute; top: 10%;left:62%;}
.squadmaker-view__field.f4312 #formationPlayer11{position: absolute; top: 10%;left:38%;}

.squadmaker-view__field.f4411 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4411 #formationPlayer2{position: absolute; top: 58%;left:68%;}
.squadmaker-view__field.f4411 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f4411 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4411 #formationPlayer5{position: absolute; top: 55%;left:9%;}
.squadmaker-view__field.f4411 #formationPlayer6{position: absolute; top: 35%;left:68%;}
.squadmaker-view__field.f4411 #formationPlayer7{position: absolute; top: 35%;left:32%;}
.squadmaker-view__field.f4411 #formationPlayer8{position: absolute; top: 33%;left:91%;}
.squadmaker-view__field.f4411 #formationPlayer9{position: absolute; top: 33%;left:9%;}
.squadmaker-view__field.f4411 #formationPlayer10{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f4411 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f4213 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4213 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f4213 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f4213 #formationPlayer4{position: absolute; top: 55%;left:92%;}
.squadmaker-view__field.f4213 #formationPlayer5{position: absolute; top: 55%;left:8%;}
.squadmaker-view__field.f4213 #formationPlayer6{position: absolute; top: 33%;left:69%;}
.squadmaker-view__field.f4213 #formationPlayer7{position: absolute; top: 33%;left:31%;}
.squadmaker-view__field.f4213 #formationPlayer8{position: absolute; top: 40%;left:50%;}
.squadmaker-view__field.f4213 #formationPlayer9{position: absolute; top: 8%;left:88%;}
.squadmaker-view__field.f4213 #formationPlayer10{position: absolute; top: 8%;left:12%;}
.squadmaker-view__field.f4213 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f451 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f451 #formationPlayer2{position: absolute; top: 58%;left:68%;}
.squadmaker-view__field.f451 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f451 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f451 #formationPlayer5{position: absolute; top: 55%;left:9%;}
.squadmaker-view__field.f451 #formationPlayer6{position: absolute; top: 35%;left:50%;}
.squadmaker-view__field.f451 #formationPlayer7{position: absolute; top: 29%;left:69%;}
.squadmaker-view__field.f451 #formationPlayer8{position: absolute; top: 29%;left:31%;}
.squadmaker-view__field.f451 #formationPlayer9{position: absolute; top: 23%;left:88%;}
.squadmaker-view__field.f451 #formationPlayer10{position: absolute; top: 23%;left:12%;}
.squadmaker-view__field.f451 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f4123_2 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4123_2 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f4123_2 #formationPlayer3{position: absolute; top: 58%;left:31%;}
.squadmaker-view__field.f4123_2 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4123_2 #formationPlayer5{position: absolute; top: 55%;left:9%;}
.squadmaker-view__field.f4123_2 #formationPlayer6{position: absolute; top: 30%;left:50%;}
.squadmaker-view__field.f4123_2 #formationPlayer7{position: absolute; top: 40%;left:69%;}
.squadmaker-view__field.f4123_2 #formationPlayer8{position: absolute; top: 40%;left:31%;}
.squadmaker-view__field.f4123_2 #formationPlayer9{position: absolute; top: 13%;left:90%;}
.squadmaker-view__field.f4123_2 #formationPlayer10{position: absolute; top: 13%;left:10%;}
.squadmaker-view__field.f4123_2 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f4222 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4222 #formationPlayer2{position: absolute; top: 58%;left:63%;}
.squadmaker-view__field.f4222 #formationPlayer3{position: absolute; top: 58%;left:38%;}
.squadmaker-view__field.f4222 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4222 #formationPlayer5{position: absolute; top: 55%;left:11%;}
.squadmaker-view__field.f4222 #formationPlayer6{position: absolute; top: 38%;left:63%;}
.squadmaker-view__field.f4222 #formationPlayer7{position: absolute; top: 38%;left:38%;}
.squadmaker-view__field.f4222 #formationPlayer8{position: absolute; top: 25%;left:90%;}
.squadmaker-view__field.f4222 #formationPlayer9{position: absolute; top: 25%;left:10%;}
.squadmaker-view__field.f4222 #formationPlayer10{position: absolute; top: 10%;left:60%;}
.squadmaker-view__field.f4222 #formationPlayer11{position: absolute; top: 10%;left:40%;}

.squadmaker-view__field.f41212 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f41212 #formationPlayer2{position: absolute; top: 60%;left:64%;}
.squadmaker-view__field.f41212 #formationPlayer3{position: absolute; top: 60%;left:36%;}
.squadmaker-view__field.f41212 #formationPlayer4{position: absolute; top: 58%;left:91%;}
.squadmaker-view__field.f41212 #formationPlayer5{position: absolute; top: 58%;left:9%;}
.squadmaker-view__field.f41212 #formationPlayer6{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f41212 #formationPlayer7{position: absolute; top: 28%;left:91%;}
.squadmaker-view__field.f41212 #formationPlayer8{position: absolute; top: 28%;left:9%;}
.squadmaker-view__field.f41212 #formationPlayer9{position: absolute; top: 45%;left:50%;}
.squadmaker-view__field.f41212 #formationPlayer10{position: absolute; top: 10%;left:65%;}
.squadmaker-view__field.f41212 #formationPlayer11{position: absolute; top: 10%;left:35%;}

.squadmaker-view__field.f41212_2 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f41212_2 #formationPlayer2{position: absolute; top: 60%;left:64%;}
.squadmaker-view__field.f41212_2 #formationPlayer3{position: absolute; top: 60%;left:36%;}
.squadmaker-view__field.f41212_2 #formationPlayer4{position: absolute; top: 58%;left:91%;}
.squadmaker-view__field.f41212_2 #formationPlayer5{position: absolute; top: 58%;left:9%;}
.squadmaker-view__field.f41212_2 #formationPlayer6{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f41212_2 #formationPlayer7{position: absolute; top: 30%;left:70%;}
.squadmaker-view__field.f41212_2 #formationPlayer8{position: absolute; top: 30%;left:30%;}
.squadmaker-view__field.f41212_2 #formationPlayer9{position: absolute; top: 45%;left:50%;}
.squadmaker-view__field.f41212_2 #formationPlayer10{position: absolute; top: 10%;left:65%;}
.squadmaker-view__field.f41212_2 #formationPlayer11{position: absolute; top: 10%;left:35%;}

.squadmaker-view__field.f4213_2 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4213_2 #formationPlayer2{position: absolute; top: 58%;left:69%;}
.squadmaker-view__field.f4213_2 #formationPlayer3{position: absolute; top: 58%;left:32%;}
.squadmaker-view__field.f4213_2 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4213_2 #formationPlayer5{position: absolute; top: 55%;left:11%;}
.squadmaker-view__field.f4213_2 #formationPlayer6{position: absolute; top: 38%;left:69%;}
.squadmaker-view__field.f4213_2 #formationPlayer7{position: absolute; top: 38%;left:32%;}
.squadmaker-view__field.f4213_2 #formationPlayer8{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f4213_2 #formationPlayer9{position: absolute; top: 14%;left:88%;}
.squadmaker-view__field.f4213_2 #formationPlayer10{position: absolute; top: 14%;left:12%;}
.squadmaker-view__field.f4213_2 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f51211 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f51211 #formationPlayer2{position: absolute; top: 62%;left:69%;}
.squadmaker-view__field.f51211 #formationPlayer3{position: absolute; top: 62%;left:31%;}
.squadmaker-view__field.f51211 #formationPlayer4{position: absolute; top: 55%;left:50%;}
.squadmaker-view__field.f51211 #formationPlayer5{position: absolute; top: 52%;left:90%;}
.squadmaker-view__field.f51211 #formationPlayer6{position: absolute; top: 52%;left:10%;}
.squadmaker-view__field.f51211 #formationPlayer7{position: absolute; top: 40%;left:50%;}
.squadmaker-view__field.f51211 #formationPlayer8{position: absolute; top: 25%;left:90%;}
.squadmaker-view__field.f51211 #formationPlayer9{position: absolute; top: 25%;left:10%;}
.squadmaker-view__field.f51211 #formationPlayer10{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f51211 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f4141 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4141 #formationPlayer2{position: absolute; top: 60%;left:63%;}
.squadmaker-view__field.f4141 #formationPlayer3{position: absolute; top: 60%;left:36%;}
.squadmaker-view__field.f4141 #formationPlayer4{position: absolute; top: 58%;left:91%;}
.squadmaker-view__field.f4141 #formationPlayer5{position: absolute; top: 58%;left:9%;}
.squadmaker-view__field.f4141 #formationPlayer6{position: absolute; top: 45%;left:50%;}
.squadmaker-view__field.f4141 #formationPlayer7{position: absolute; top: 29%;left:69%;}
.squadmaker-view__field.f4141 #formationPlayer8{position: absolute; top: 29%;left:31%;}
.squadmaker-view__field.f4141 #formationPlayer9{position: absolute; top: 25%;left:91%;}
.squadmaker-view__field.f4141 #formationPlayer10{position: absolute; top: 25%;left:9%;}
.squadmaker-view__field.f4141 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f4321 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f4321 #formationPlayer2{position: absolute; top: 60%;left:69%;}
.squadmaker-view__field.f4321 #formationPlayer3{position: absolute; top: 60%;left:31%;}
.squadmaker-view__field.f4321 #formationPlayer4{position: absolute; top: 55%;left:91%;}
.squadmaker-view__field.f4321 #formationPlayer5{position: absolute; top: 55%;left:11%;}
.squadmaker-view__field.f4321 #formationPlayer6{position: absolute; top: 35%;left:90%;}
.squadmaker-view__field.f4321 #formationPlayer7{position: absolute; top: 35%;left:10%;}
.squadmaker-view__field.f4321 #formationPlayer8{position: absolute; top: 27%;left:50%;}
.squadmaker-view__field.f4321 #formationPlayer9{position: absolute; top: 22%;left:75%;}
.squadmaker-view__field.f4321 #formationPlayer10{position: absolute; top: 22%;left:25%;}
.squadmaker-view__field.f4321 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f343 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f343 #formationPlayer2{position: absolute; top: 65%;left:75%;}
.squadmaker-view__field.f343 #formationPlayer3{position: absolute; top: 65%;left:26%;}
.squadmaker-view__field.f343 #formationPlayer4{position: absolute; top: 56%;left:50%;}
.squadmaker-view__field.f343 #formationPlayer5{position: absolute; top: 35%;left:63%;}
.squadmaker-view__field.f343 #formationPlayer6{position: absolute; top: 35%;left:38%;}
.squadmaker-view__field.f343 #formationPlayer7{position: absolute; top: 30%;left:88%;}
.squadmaker-view__field.f343 #formationPlayer8{position: absolute; top: 30%;left:12%;}
.squadmaker-view__field.f343 #formationPlayer9{position: absolute; top: 15%;left:70%;}
.squadmaker-view__field.f343 #formationPlayer10{position: absolute; top: 15%;left:30%;}
.squadmaker-view__field.f343 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f343_2 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f343_2 #formationPlayer2{position: absolute; top: 70%;left:75%;}
.squadmaker-view__field.f343_2 #formationPlayer3{position: absolute; top: 70%;left:26%;}
.squadmaker-view__field.f343_2 #formationPlayer4{position: absolute; top: 56%;left:50%;}
.squadmaker-view__field.f343_2 #formationPlayer5{position: absolute; top: 33%;left:63%;}
.squadmaker-view__field.f343_2 #formationPlayer6{position: absolute; top: 33%;left:38%;}
.squadmaker-view__field.f343_2 #formationPlayer7{position: absolute; top: 30%;left:90%;}
.squadmaker-view__field.f343_2 #formationPlayer8{position: absolute; top: 30%;left:10%;}
.squadmaker-view__field.f343_2 #formationPlayer9{position: absolute; top: 15%;left:85%;}
.squadmaker-view__field.f343_2 #formationPlayer10{position: absolute; top: 15%;left:15%;}
.squadmaker-view__field.f343_2 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f3142 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f3142 #formationPlayer2{position: absolute; top: 70%;left:75%;}
.squadmaker-view__field.f3142 #formationPlayer3{position: absolute; top: 70%;left:26%;}
.squadmaker-view__field.f3142 #formationPlayer4{position: absolute; top: 56%;left:50%;}
.squadmaker-view__field.f3142 #formationPlayer5{position: absolute; top: 37%;left:50%;}
.squadmaker-view__field.f3142 #formationPlayer6{position: absolute; top: 35%;left:70%;}
.squadmaker-view__field.f3142 #formationPlayer7{position: absolute; top: 35%;left:30%;}
.squadmaker-view__field.f3142 #formationPlayer8{position: absolute; top: 25%;left:90%;}
.squadmaker-view__field.f3142 #formationPlayer9{position: absolute; top: 25%;left:10%;}
.squadmaker-view__field.f3142 #formationPlayer10{position: absolute; top: 10%;left:65%;}
.squadmaker-view__field.f3142 #formationPlayer11{position: absolute; top: 10%;left:35%;}

.squadmaker-view__field.f3232 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f3232 #formationPlayer2{position: absolute; top: 70%;left:75%;}
.squadmaker-view__field.f3232 #formationPlayer3{position: absolute; top: 70%;left:26%;}
.squadmaker-view__field.f3232 #formationPlayer4{position: absolute; top: 56%;left:50%;}
.squadmaker-view__field.f3232 #formationPlayer5{position: absolute; top: 46%;left:65%;}
.squadmaker-view__field.f3232 #formationPlayer6{position: absolute; top: 46%;left:35%;}
.squadmaker-view__field.f3232 #formationPlayer7{position: absolute; top: 35%;left:50%;}
.squadmaker-view__field.f3232 #formationPlayer8{position: absolute; top: 30%;left:90%;}
.squadmaker-view__field.f3232 #formationPlayer9{position: absolute; top: 30%;left:10%;}
.squadmaker-view__field.f3232 #formationPlayer10{position: absolute; top: 23%;left:50%;}
.squadmaker-view__field.f3232 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f31213 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f31213 #formationPlayer2{position: absolute; top: 70%;left:75%;}
.squadmaker-view__field.f31213 #formationPlayer3{position: absolute; top: 70%;left:25%;}
.squadmaker-view__field.f31213 #formationPlayer4{position: absolute; top: 56%;left:50%;}
.squadmaker-view__field.f31213 #formationPlayer5{position: absolute; top: 40%;left:50%;}
.squadmaker-view__field.f31213 #formationPlayer6{position: absolute; top: 32%;left:90%;}
.squadmaker-view__field.f31213 #formationPlayer7{position: absolute; top: 32%;left:10%;}
.squadmaker-view__field.f31213 #formationPlayer8{position: absolute; top: 25%;left:50%;}
.squadmaker-view__field.f31213 #formationPlayer9{position: absolute; top: 12%;left:90%;}
.squadmaker-view__field.f31213 #formationPlayer10{position: absolute; top: 12%;left:12%;}
.squadmaker-view__field.f31213 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f32212 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f32212 #formationPlayer2{position: absolute; top: 70%;left:75%;}
.squadmaker-view__field.f32212 #formationPlayer3{position: absolute; top: 70%;left:25%;}
.squadmaker-view__field.f32212 #formationPlayer4{position: absolute; top: 60%;left:50%;}
.squadmaker-view__field.f32212 #formationPlayer5{position: absolute; top: 45%;left:60%;}
.squadmaker-view__field.f32212 #formationPlayer6{position: absolute; top: 45%;left:40%;}
.squadmaker-view__field.f32212 #formationPlayer7{position: absolute; top: 38%;left:90%;}
.squadmaker-view__field.f32212 #formationPlayer8{position: absolute; top: 38%;left:10%;}
.squadmaker-view__field.f32212 #formationPlayer9{position: absolute; top: 23%;left:50%;}
.squadmaker-view__field.f32212 #formationPlayer10{position: absolute; top: 10%;left:60%;}
.squadmaker-view__field.f32212 #formationPlayer11{position: absolute; top: 10%;left:40%;}

.squadmaker-view__field.f5212 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f5212 #formationPlayer2{position: absolute; top: 60%;left:75%;}
.squadmaker-view__field.f5212 #formationPlayer3{position: absolute; top: 60%;left:50%;}
.squadmaker-view__field.f5212 #formationPlayer4{position: absolute; top: 60%;left:25%;}
.squadmaker-view__field.f5212 #formationPlayer5{position: absolute; top: 48%;left:95%;}
.squadmaker-view__field.f5212 #formationPlayer6{position: absolute; top: 48%;left:5%;}
.squadmaker-view__field.f5212 #formationPlayer7{position: absolute; top: 35%;left:70%;}
.squadmaker-view__field.f5212 #formationPlayer8{position: absolute; top: 35%;left:30%;}
.squadmaker-view__field.f5212 #formationPlayer9{position: absolute; top: 30%;left:50%;}
.squadmaker-view__field.f5212 #formationPlayer10{position: absolute; top: 10%;left:63%;}
.squadmaker-view__field.f5212 #formationPlayer11{position: absolute; top: 10%;left:37%;}

.squadmaker-view__field.f523 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f523 #formationPlayer2{position: absolute; top: 55%;left:72%;}
.squadmaker-view__field.f523 #formationPlayer3{position: absolute; top: 55%;left:50%;}
.squadmaker-view__field.f523 #formationPlayer4{position: absolute; top: 55%;left:28%;}
.squadmaker-view__field.f523 #formationPlayer5{position: absolute; top: 51%;left:95%;}
.squadmaker-view__field.f523 #formationPlayer6{position: absolute; top: 51%;left:5%;}
.squadmaker-view__field.f523 #formationPlayer7{position: absolute; top: 30%;left:65%;}
.squadmaker-view__field.f523 #formationPlayer8{position: absolute; top: 30%;left:35%;}
.squadmaker-view__field.f523 #formationPlayer9{position: absolute; top: 14%;left:88%;}
.squadmaker-view__field.f523 #formationPlayer10{position: absolute; top: 14%;left:12%;}
.squadmaker-view__field.f523 #formationPlayer11{position: absolute; top: 10%;left:50%;}

.squadmaker-view__field.f532 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f532 #formationPlayer2{position: absolute; top: 55%;left:72%;}
.squadmaker-view__field.f532 #formationPlayer3{position: absolute; top: 55%;left:50%;}
.squadmaker-view__field.f532 #formationPlayer4{position: absolute; top: 55%;left:28%;}
.squadmaker-view__field.f532 #formationPlayer5{position: absolute; top: 51%;left:95%;}
.squadmaker-view__field.f532 #formationPlayer6{position: absolute; top: 51%;left:5%;}
.squadmaker-view__field.f532 #formationPlayer7{position: absolute; top: 30%;left:71%;}
.squadmaker-view__field.f532 #formationPlayer8{position: absolute; top: 30%;left:29%;}
.squadmaker-view__field.f532 #formationPlayer9{position: absolute; top: 30%;left:50%;}
.squadmaker-view__field.f532 #formationPlayer10{position: absolute; top: 10%;left:63%;}
.squadmaker-view__field.f532 #formationPlayer11{position: absolute; top: 10%;left:37%;}

.squadmaker-view__field.f541 #formationPlayer1{position: absolute; top: 75%;left:50%;}
.squadmaker-view__field.f541 #formationPlayer2{position: absolute; top: 55%;left:72%;}
.squadmaker-view__field.f541 #formationPlayer3{position: absolute; top: 55%;left:50%;}
.squadmaker-view__field.f541 #formationPlayer4{position: absolute; top: 55%;left:28%;}
.squadmaker-view__field.f541 #formationPlayer5{position: absolute; top: 51%;left:95%;}
.squadmaker-view__field.f541 #formationPlayer6{position: absolute; top: 51%;left:5%;}
.squadmaker-view__field.f541 #formationPlayer7{position: absolute; top: 35%;left:65%;}
.squadmaker-view__field.f541 #formationPlayer8{position: absolute; top: 35%;left:35%;}
.squadmaker-view__field.f541 #formationPlayer9{position: absolute; top: 25%;left:85%;}
.squadmaker-view__field.f541 #formationPlayer10{position: absolute; top: 25%;left:15%;}
.squadmaker-view__field.f541 #formationPlayer11{position: absolute; top: 10%;left:50%;}

