{% load staticfiles %}
<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <title>ChamFION &mdash; 피파온라인분석사이트</title>
    <meta charset="utf-8">
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
	  <link rel="stylesheet" href='{% static "fonts/icomoon/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/jquery-ui.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/jquery.fancybox.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap-datepicker.css" %}'>
    <link rel="stylesheet" href='{% static "fonts/flaticon/font/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/aos.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/formation.css" %}'>
    <style>
    .squadmaker-view__field.mySquad :hover{
      z-index:3;
    }

    .gradefont {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    line-height: 14px;
    text-align: center;
    width: 22px;
    height: 14px;
    display: block;
    box-sizing: border-box;
    position: relative;
    }

    .grey{
    background: #45494f;
    width: 21px;
    top: 62%;
    left: 79%;
    position: absolute;
    height: 14px;
    line-height: 0.3;
    }

    .bronze{
    background: #c37653;
    width: 21px;
    top: 62%;
    left: 79%;
    position: absolute;
    height: 14px;
    line-height: 0.3;
    }

    .silver{
    background: #c2c5ca;
    width: 21px;
    top: 62%;
    left: 79%;
    position: absolute;
    height: 14px;
    line-height: 0.3;
    }

    .gold{
    background: #e8c337;
    width: 21px;
    top: 62%;
    left: 79%;
    position: absolute;
    height: 14px;
    line-height: 0.3;
    }
    
    .slide-1:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .9;
    border-bottom-right-radius: 0px;
    background: #0E1015;
	}
	
	.site-section {
    background: #1C202A;
	}
	
	.text-black {
    color: #fff !important;
	}
	
	.sticky-wrapper.is-sticky .site-navbar {
    background: #0E1015;
	}
	
	.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
    
    color: #fff;
 
	}

	.sticky-wrapper.is-sticky .site-navbar .site-logo a {
	    color: #fff;
	}
	


    

    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
       <script>

         var jsonObject
             // using jQuery csrftoken
              function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }


              function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }


              $(document).ready(function() {

                var addList = [], listdata = {};
                var uid = getParameterByName('ID');
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                  }
                });

                $.ajax({
                url: "https://api.nexon.co.kr/fifaonline4/v1.0/users?nickname="+uid,
                dataType: "json",
                beforeSend : function(request){
                    request.setRequestHeader("Authorization", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiMTg0NTcxODkzOSIsImF1dGhfaWQiOiIyIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIiwic2VydmljZV9pZCI6IjQzMDAxMTQ4MSIsIlgtQXBwLVJhdGUtTGltaXQiOiIyMDAwMDoxMCIsIm5iZiI6MTU2ODcxMTE3OSwiZXhwIjoxNjMxNzgzMTc5LCJpYXQiOjE1Njg3MTExNzl9.UWV1Ldv4oGK6YYjQdjhrq8y2Hn__lwOy5svf8XN4o8U");
                    request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                },
                success: function (data) {

                  drmatches(data.accessId);
                },
                error: function () { alert("아이디를 확인해 주세요"); }
              });


              });

              function drmatches(userID){
              $.ajax({
                url: "https://api.nexon.co.kr/fifaonline4/v1.0/users/"+userID+"/matches?matchtype=50&offset=0&limit=20",
                dataType: "json",
                beforeSend : function(request){
                    request.setRequestHeader("Authorization", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiMTg0NTcxODkzOSIsImF1dGhfaWQiOiIyIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIiwic2VydmljZV9pZCI6IjQzMDAxMTQ4MSIsIlgtQXBwLVJhdGUtTGltaXQiOiIyMDAwMDoxMCIsIm5iZiI6MTU2ODcxMTE3OSwiZXhwIjoxNjMxNzgzMTc5LCJpYXQiOjE1Njg3MTExNzl9.UWV1Ldv4oGK6YYjQdjhrq8y2Hn__lwOy5svf8XN4o8U");
                    request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                },
                success: function (data) {
                  drmatchdetail(data[0])
                  console.log(data[0]);
                },
                error: function () { alert("아이디를 확인해 주세요"); }
                });
              }

              function drmatchdetail(matchID){

                $.ajax({
                  url: "https://api.nexon.co.kr/fifaonline4/v1.0/matches/" + matchID,
                  dataType: "json",
                  beforeSend : function(request){
                      request.setRequestHeader("Authorization", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiMTg0NTcxODkzOSIsImF1dGhfaWQiOiIyIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIiwic2VydmljZV9pZCI6IjQzMDAxMTQ4MSIsIlgtQXBwLVJhdGUtTGltaXQiOiIyMDAwMDoxMCIsIm5iZiI6MTU2ODcxMTE3OSwiZXhwIjoxNjMxNzgzMTc5LCJpYXQiOjE1Njg3MTExNzl9.UWV1Ldv4oGK6YYjQdjhrq8y2Hn__lwOy5svf8XN4o8U");
                      request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                  },
                  success: function (data) {

                    var main = new Array(); // json의 전체를 가리키는 배열
                    var cnt = 0;
                  if(data.matchInfo[0].nickname == getParameterByName('ID')){
                    for(var i =0 ;i<data.matchInfo[0].player.length; i++){
                      if(data.matchInfo[0].player[i].spPosition != '28'){
                      sub = new Object();     // 객체 값 입력후 main배열의 0번 index에 셋팅
                      sub['spId'] = data.matchInfo[0].player[i].spId; 
                      sub['spPosition'] = data.matchInfo[0].player[i].spPosition;
                      sub['spGrade'] = data.matchInfo[0].player[i].spGrade;
                      main[cnt] = sub;
                      cnt++;
                      }
                    }
                    console.log(data.matchInfo[0].nickname+"home");
                    jsonObject = {list:main}
                    
                    
                    console.log(jsonObject);

                  }else{
                    for(var i =0 ;i<data.matchInfo[1].player.length; i++){
                      if(data.matchInfo[1].player[i].spPosition != '28'){
                      sub = new Object();     // 객체 값 입력후 main배열의 0번 index에 셋팅
                      sub['spId'] = data.matchInfo[1].player[i].spId; 
                      sub['spPosition'] = data.matchInfo[1].player[i].spPosition;
                      sub['spGrade'] = data.matchInfo[1].player[i].spGrade;
                      main[cnt] = sub;
                      cnt++;
                      }

                    }
                    jsonObject = {list:main}
                    console.log(data.matchInfo[1].nickname+"away");
                    console.log(jsonObject);
                  }

                   $.ajax({
                    url:'/myapp/Mysquadform/',
                    dataType:'json',
                    type:'POST',
                    data: jsonObject,
                    //data:{'spId':data.matchInfo[0].player[0].spId , 'spPosition':data.matchInfo[0].player[0].spPosition},
                    success:function(result){
                        $('#squadformation').html(result['msg']);
                    }
                  }); 

                 
                 
                  },
                  error: function () { alert("아이디를 확인해 주세요"); }
                  });
                }

      </script>
      <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }
      
	 body{
	 color:#fff;
	 }
     
     
    </style>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="../">ChamFION</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#" onclick="link('search')" class="nav-link">Squad Maker</a></li>
                <li><a href="#" onclick="link('analysis')" class="nav-link" >Analysis</a></li>
                <li><a href="#" onclick="link('topplayer')" class="nav-link">Top Player</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section single-cover" id="home-section">
      <div class="slide-1 "  data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
          <div class = "col-9">

            <h3 class="text-white">{{ID}}</h3>

          </div>
            <div class="col-3">
              <div class="row">
              	<div class="col-10">
              	  <form action="/myapp/search/" method="get" >
	                    <div class="form-group">
	                      <input type="text" class="form-control" placeholder="닉네임을 입력해 주세요" name="ID">
	                    </div>
	                  </div>
              		<div class="col-2">
	                  <div class="form-group">
	                    <input type="submit" class="btn btn-primary btn-pill" value="검색">
	                    </div>
	                  </div>
                 	</form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section" style="display:flex; ">
      <div class="container" style = "max-width: 1000px; margin-left:50px;" >
        <div class="row">
          <div class="col-lg-8 mb-5">
            <div class="mb-5">
             
              <h3 class="text-black">스쿼드 메이커 </h3> 
						              
					<!-- 	
						    <select id="selectbox" >
                <option value="">선택</option>
						    <option value="f3412">3412</option>
						    <option value="f343">343</option>
						    <option value="f343_2">343_2</option>
						    <option value="f3142">3142</option>
						    <option value="f3232">3232</option>
						    <option value="f31213">31213</option>
						    <option value="f32212">32212</option>
						    <option value="f433">433</option>
						    <option value="f442">442</option>
						    <option value="f433_2">433_2</option>
						    <option value="f442_2">442_2</option>
						    <option value="f4231">4231</option>
						    <option value="f4123">4123</option>
						    <option value="f4132">4132</option>
						    <option value="f42211">42211</option>
						    <option value="f424">424</option>
						    <option value="f4312">4312</option>
						    <option value="f4411">4411</option>
						    <option value="f4213">4213</option>
						    <option value="f451">451</option>
						    <option value="f4123_2">4123_2</option>
						    <option value="f4222">4222</option>
						    <option value="f41212">41212</option>
						    <option value="f41212_2">41212_2</option>
						    <option value="f4213_2">4213_2</option>
						    <option value="f4141">4141</option>
						    <option value="f4321">4321</option>
						    <option value="f5212">5212</option>
						    <option value="f523">523</option>
						    <option value="f532">532</option>
						    <option value="f541">541</option>
						    </select>
						                           
				 -->	
              
					<div>
					<img style="margin-top:30px;" src= '{% static "images/grass.png" %}' width="770" height="750"></img>	
						<div id= "squadformation"></div>						
					</div>
					
              
            </div> <!--  mb-5 -->

    
            </div>
            
            <div class="col-lg-2">         
              <!--  empty box ( 비율때문에 삽입) -->            
            </div>
            <!-- right block end -->



          </div> <!--  row end -->
  
        </div>

        <div class="container" style = " position: absolute; max-width: 750px; left:850px;" >
          <h3 class="text-black">선수비교</h3>
          <br>
          <table id = "tablList" class="table table-hover" style="text-align: center; ">
			  <thead>
			    <tr>
			    
			      <th scope="col" width="20%">추천선수</th>
			      <th scope="col" width="10%">Season</th>
			      <th scope="col" width="20%">Name</th>
			      <th scope="col" width="10%">Pay</th>
			      <th scope="col" width="10%">Price</th>
			      <th scope="col" width="10%">강화</th>
			      <th scope="col" width="20%">선수정보</th>
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
        </div>
          
        </div>



      </div>  
    </div>


        <script>
          
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }


            function link(url) {
              
              var uid = getParameterByName('ID');

              var form = document.createElement("form");
              var parm = new Array();
              var input = new Array();

              form.action = '../'+url+'/';
              form.method = "get";

              parm.push( ['ID', uid] );
              

              for (var i = 0; i < parm.length; i++) {
                  input[i] = document.createElement("input");
                  input[i].setAttribute("type", "hidden");
                  input[i].setAttribute('name', parm[i][0]);
                  input[i].setAttribute("value", parm[i][1]);
                  form.appendChild(input[i]);
              }
              document.body.appendChild(form);
              form.submit();
            };

            $('#selectbox').change( function() {
                $.ajax({
                    url:'/myapp/squadform/',
                    dataType:'json',
                    type:'POST',
                    data:{'msg':$('#selectbox').val()},
                    success:function(result){
                        $('#squadformation').html(result['msg']);
                    }
                });
            })

            function recoplayer(i){
             $(function () {            	 
            	 jsonObject.selectedposition = i.toString()
            	 console.log('json')
            	 console.log(jsonObject)
              //동적으로 원격에 있는 JSON 파일(결과값)을 로드
              $.ajax({
                url: "/myapp/recommend/",
                dataType:'json',
                type:'POST',
                data: jsonObject,
                success: function (data) {
                  //받아온 JSON을 테이블에 출력
                 
                  $.each(data, function (index, entry) {
                	$('#tablList').append("<tr id =" + i +">");
                    $("#"+i).append("<td onclick=\"takeplayer(\'"+entry["Season"]+"\',\'"+i+"\',\'"+entry["Pnum"]+"\',\'"+entry["Mark"]+"\',\'"+entry["Name"]+"\')\">" + "<img src=\"http://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/"+entry["Pnum"]+".png?rd=201910080430\">" + "</td><td>" + "<img src=\"http://s.nx.com/s2/game/fo4/obt/externalAssets/season/"+entry["Season"]+".png\">" + "</td><td>" + entry["Name"] + "</td><td>" + entry["Pay"] + "</td><td>" + entry["Price"] + "</td><td>" + entry["spGrade"] + "</td><td onclick=\"detail(\'"+entry["fullspId"]+"\',"+entry["spGrade"]+")\">더보기</td>");
                    $("#"+i).append("src=\"http://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/playersAction/p"+nlist+".png?rd=201910290610\" onerror=\"this.src='https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+spID+".png?rd=201910290610'\"")
             		
                  });
                },
                error: function () { alert("에러발생"); }
              });
            });
            }
            function detail(arg1, arg2){
             // alert(arg1 +" and "+ arg2)

             /*  var url = "/myapp/detail/";
              var name = "popup test";
              
              window.open(url, name, option); */


              var frmPop= document.frmPopup;
              var url = "/myapp/detail/";
              var option = "width = 1275, height = 500, top = 100, left = 200, location = no"
              //var url = 'detail.html'
              window.open('','popupView', option);  
              
              frmPop.action = url;
              frmPop.target = 'popupView'; //window,open()의 두번째 인수와 같아야 하며 필수다.  
              frmPop.spid.value = arg1;
              frmPop.spgrade.value = arg2;  
              frmPop.submit();  

            }

            function takeplayer(season,i,Pnum,Mark,Name){
             // alert(season+","+i+","+Pnum)
              
              $(function () {
              //동적으로 원격에 있는 JSON 파일(결과값)을 로드
              $.ajax({
                url: "/myapp/takeplayer/",
                dataType: "json",
                success: function (data) {
                  //받아온 JSON을 테이블에 출력
                  $('#formationPlayerspp'+i).html("");
                  $('#formationPlayerspp'+i).append("<img src=\"http://s.nx.com/s2/game/fo4/obt/externalAssets/card/"+season+".png\" width=\"120\" height=\"120\" onclick=\"recoplayer(i)\">");
                  $('#formationPlayerspp'+i).append("<img style=\"position: absolute; top: 15%;left:40%;\" src=\"http://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/"+Pnum+".png?rd=201910080430\" width=\"72\" height=\"72\" onclick=\"recoplayer(i)\">");
                  $('#formationPlayerspp'+i).append("<img style=\"position: absolute; top: 57%;left:10%;\" src=\"http://s.nx.com/s2/game/fo4/obt/externalAssets/season/"+Mark+"_big.png\" width=\"18px\" height=\"18px\" onclick=\"recoplayer(i)\">");
                  $('#formationPlayerspp'+i).append("<div style=\"width:100px; top:50%; left:50%; position: absolute; transform:translate(-50%,50%)\"><p style=\"text-align:center; font-family:맑은고딕;\"><font size=\"1.8\" color=\"black\">"+ Name +"</font></p></div>");
                },
                error: function () { alert("에러발생"); }
              });
            });

            }

            function takeplayer2(name,k){
            var jsonLocation = '/static/images/background.json';

            $.getJSON(jsonLocation, function(data){

              $.each(data, function(I, item){

              console.log(item.seasonId);

              });

            });

            }

            

        </script>
  <form name="frmPopup">
  <input type="hidden" name="spid">
  <input type="hidden" name="spgrade">
  </form>

	<!-- .site-wrap -->

  <script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
  <script src='{% static "js/jquery-migrate-3.0.1.min.js" %}'></script>
  <script src='{% static "js/jquery-ui.js" %}'></script>
  <script src='{% static "js/popper.min.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/owl.carousel.min.js" %}'></script>
  <script src='{% static "js/jquery.stellar.min.js" %}'></script>
  <script src='{% static "js/jquery.countdown.min.js" %}'></script>
  <script src='{% static "js/bootstrap-datepicker.min.js" %}'></script>
  <script src='{% static "js/jquery.easing.1.3.js" %}'></script>
  <script src='{% static "js/aos.js" %}'></script>
  <script src='{% static "js/jquery.fancybox.min.js" %}'></script>
  <script src='{% static "js/jquery.sticky.js" %}'></script>
  
  <script src='{% static "js/main.js" %}'></script>
    
  </body>
</html>