{% load staticfiles %}
<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <title>ChamFION &mdash; 피파온라인분석사이트</title>
    <meta charset="utf-8">
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
	  <link rel="stylesheet" href='{% static "fonts/icomoon/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/jquery-ui.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/jquery.fancybox.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap-datepicker.css" %}'>
    <link rel="stylesheet" href='{% static "fonts/flaticon/font/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/aos.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/formation.css" %}'>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
       <script>
             // using jQuery csrftoken
              function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              $(document).ready(function() {
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                  }
                });
              });
        </script>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){background-color: #f2f2f2}
      tr:hover {background-color:#f5f5f5;}
      th {
        background-color: #4CAF50;  
        color: white;
      }
      
      #tabcontent {
        display: block;
        background-color: snow;
        padding: 6px 12px;
        color: black;
      }

      .tab {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
          }

      #tabli_atk {
          float: left;
          display: inline-block;
          color: black;
          text-align: center;
          text-decoration: none;
          padding: 14px 16px;
          font-size: 17px;
        }

      #tabli_mid {
          float: left;
          display: inline-block;
          color:black;
          text-align: center;
          text-decoration: none;
          padding: 14px 16px;
          font-size: 17px;
        }

      #tabli_def {
          float: left;
          display: inline-block;
          color: black;
          text-align: center;
          text-decoration: none;
          padding: 14px 16px;
          font-size: 17px;
        }

       
 
    </style>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="../">ChamFION</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                 <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#" onclick="link('search')" class="nav-link">Squad Maker</a></li>
                <li><a href="#" onclick="link('analysis')" class="nav-link" >Analysis</a></li>
                <li><a href="#" onclick="link('topplayer')" class="nav-link">Top Player</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section single-cover" id="home-section" style="height:0vh ; min-height: 80px;" >
      <div class="slide-1 "  data-stellar-background-ratio="0.5">
       
      </div>
    </div>
    
    <div class="site-section">
      <div class="container" style = "max-width: 1000px; margin-left:150px;" >
        <div class="row">
          <div class="col-lg-12">
            <div> 

              <h3 class="text-black">Top Player </h3> 
                <ul class ="tab">
                  <li data-tab="TOPatk" class='tabmenu' id="tabli_atk"><a href="#">Goal/Game</a></li>
                  <li data-tab="TOPmid" class='tabmenu' id="tabli_mid"><a href="#">Asisst/Game</a></li>
                  <li data-tab="TOPdef" class='tabmenu' id="tabli_def"><a href="#">tackle/Game</a></li>
                </ul>
                <div id="tabcontent"></div>

            </div>
              
              
          </div>
            
        </div> <!--  row end -->
  
      </div>
    </div>  
  </div>
  

        <script>
           function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }


            function link(url) {

              var uid = getParameterByName('ID');
              
              var form = document.createElement("form");
              var parm = new Array();
              var input = new Array();

              form.action = '../'+url+'/';
              form.method = "get";

              parm.push( ['ID', uid] );
              

              for (var i = 0; i < parm.length; i++) {
                  input[i] = document.createElement("input");
                  input[i].setAttribute("type", "hidden");
                  input[i].setAttribute('name', parm[i][0]);
                  input[i].setAttribute("value", parm[i][1]);
                  form.appendChild(input[i]);
              }
              document.body.appendChild(form);
              form.submit();
            };



          $(function() {
            // tab operation
            $('#tabli_atk').click(function() {
              var activeTab = $(this).attr('data-tab');
              $('.tabmenu').css('background-color', 'white'); // 안눌렀을때
              $(this).css('background-color', 'snow');  // 눌렀을때
              $.ajax({
                type : 'GET',                 //get방식으로 통신
                url : '{% static "jsondata/goalbest.json" %}',              //탭의 data-tab속성의 값으로 된 html파일로 통신
                dataType : "json",            //html형식으로 값 읽기
                error : function() {          //통신 실패시
                  alert('통신실패!');
                },
                success:function(data) {
                  $('#tabcontent').html("");
                  $('#tabcontent').append("<th>IMG</th><th>Season</th><th> Name </th><th>Grade</th><th>Goal</th>");
                  $.each(data, function(index, entry) {
                    $('#tabcontent').append("<tr>");
                    if(entry["seasonName"] == "TC" || entry["seasonName"] == "GR" || entry["seasonName"] == "19TS" || entry["seasonName"] == "19TY" || entry["seasonName"] == "18A" || entry["seasonName"] == "18S")
                      $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/playersAction/p"+entry["spId"]+".png?rd=201910080430\">" + "</td>");
                    else{

                      if(entry["spId"].substring(3,9).startsWith('0')){
                        if(entry["spId"].substring(4,9).startsWith('0')){
                          $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(5.9)+".png?rd=201910080430\">" + "</td>");
                        }else{
                          $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(4.9)+".png?rd=201910080430\">" + "</td>");
                        }
                      }else{
                        $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(3.9)+".png?rd=201910080430\">" + "</td>");
                      }
                    }
                    $('#tabcontent').append("<td>" + "<img src=\"http://s.nx.com/s2/game/fo4/obt/externalAssets/season/"+entry["seasonName"]+".png\">" + "</td>");
                    $('#tabcontent').append("<td>" + entry["name"] + "</td>");
                    $('#tabcontent').append("<td>" + entry["spGrade"]  + "</td>");
                    $('#tabcontent').append("<td>" + entry["goal"]  + "</td>");
                    $('#tabcontent').append("</tr>");
                  });
                }
              });
            });
            $('#tabli_atk').click();
        });

          $(function() {
            // tab operation
            $('#tabli_mid').click(function() {
              var activeTab = $(this).attr('data-tab');
              $('.tabmenu').css('background-color', 'white'); // 안눌렀을때
              $(this).css('background-color', 'snow');  // 눌렀을때
              $.ajax({
                type : 'GET',                 //get방식으로 통신
                url : '{% static "jsondata/assistbest.json" %}',              //탭의 data-tab속성의 값으로 된 html파일로 통신
                dataType : "json",            //html형식으로 값 읽기
                error : function() {          //통신 실패시
                  alert('통신실패!');
                },
                success:function(data) {
                  $('#tabcontent').html("");
                  $('#tabcontent').append("<th>IMG</th><th>Season</th><th> Name </th><th>Grade</th><th>assist</th>");
                  $.each(data, function(index, entry) {
                    $('#tabcontent').append("<tr>");
                    if(entry["seasonName"] == "TC" || entry["seasonName"] == "GR" || entry["seasonName"] == "19TS" || entry["seasonName"] == "19TY" || entry["seasonName"] == "18A" || entry["seasonName"] == "18S")
                      $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/playersAction/p"+entry["spId"]+".png?rd=201910080430\">" + "</td>");
                    else{
                      if(entry["spId"].substring(3,9).startsWith('0')){
                        if(entry["spId"].substring(4,9).startsWith('0')){
                          $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(5.9)+".png?rd=201910080430\">" + "</td>");
                        }else{
                          $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(4.9)+".png?rd=201910080430\">" + "</td>");
                        }
                      }else{
                        $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(3.9)+".png?rd=201910080430\">" + "</td>");
                      }
                    }
                      

                    $('#tabcontent').append("<td>" + "<img src=\"http://s.nx.com/s2/game/fo4/obt/externalAssets/season/"+entry["seasonName"]+".png\">" + "</td>");
                    $('#tabcontent').append("<td>" + entry["name"] + "</td>");
                    $('#tabcontent').append("<td>" + entry["spGrade"]  + "</td>");
                    $('#tabcontent').append("<td>" + entry["assist"]  + "</td>");
                    $('#tabcontent').append("</tr>");
                  });
                }
              });
            });
        });

        $(function() {
            // tab operation
            $('#tabli_def').click(function() {
              var activeTab = $(this).attr('data-tab');
              $('.tabmenu').css('background-color', 'white'); // 안눌렀을때
              $(this).css('background-color', 'snow');  // 눌렀을때
              $.ajax({
                type : 'GET',                 //get방식으로 통신
                url : '{% static "jsondata/tacklebest.json" %}',              //탭의 data-tab속성의 값으로 된 html파일로 통신
                dataType : "json",            //html형식으로 값 읽기
                error : function() {          //통신 실패시
                  alert('통신실패!');
                },
                success:function(data) {
                  $('#tabcontent').html("");
                  $('#tabcontent').append("<th>IMG</th><th>Season</th><th> Name </th><th>Grade</th><th>tackle</th>");
                  $.each(data, function(index, entry) {
                    $('#tabcontent').append("<tr>");
                    if(entry["seasonName"] == "TC" || entry["seasonName"] == "GR" || entry["seasonName"] == "19TS" || entry["seasonName"] == "19TY" || entry["seasonName"] == "18A" || entry["seasonName"] == "18S")
                      $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/playersAction/p"+entry["spId"]+".png?rd=201910080430\" onerror=\"this.src='https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(4.9)+".png?rd=201910080430'\">" + "</td>");
                    else{

                      if(entry["spId"].substring(3,9).startsWith('0')){
                        if(entry["spId"].substring(4,9).startsWith('0')){
                          $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(5.9)+".png?rd=201910080430\">" + "</td>");
                        }else{
                          $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(4.9)+".png?rd=201910080430\">" + "</td>");
                        }
                      }else{
                        $('#tabcontent').append("<td>" + "<img src=\"https://fo4.dn.nexoncdn.co.kr/live/externalAssets/common/players/p"+entry["spId"].substring(3.9)+".png?rd=201910080430\">" + "</td>");
                      }
                    }

                    $('#tabcontent').append("<td>" + "<img src=\"http://s.nx.com/s2/game/fo4/obt/externalAssets/season/"+entry["seasonName"]+".png\">" + "</td>");
                    $('#tabcontent').append("<td>" + entry["name"] + "</td>");
                    $('#tabcontent').append("<td>" + entry["spGrade"]  + "</td>");
                    $('#tabcontent').append("<td>" + entry["tackle"]  + "</td>");
                    $('#tabcontent').append("</tr>");
                  });
                }
              });
            });
        });
        </script>




	<!-- .site-wrap -->

  <script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
  <script src='{% static "js/jquery-migrate-3.0.1.min.js" %}'></script>
  <script src='{% static "js/jquery-ui.js" %}'></script>
  <script src='{% static "js/popper.min.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/owl.carousel.min.js" %}'></script>
  <script src='{% static "js/jquery.stellar.min.js" %}'></script>
  <script src='{% static "js/jquery.countdown.min.js" %}'></script>
  <script src='{% static "js/bootstrap-datepicker.min.js" %}'></script>
  <script src='{% static "js/jquery.easing.1.3.js" %}'></script>
  <script src='{% static "js/aos.js" %}'></script>
  <script src='{% static "js/jquery.fancybox.min.js" %}'></script>
  <script src='{% static "js/jquery.sticky.js" %}'></script>

  
  <script src='{% static "js/main.js" %}'></script>
    
  </body>
</html>